<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>  
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IWSUserProfile" />
      </wsHttpBinding>
    </bindings>
    <client>
      < address="http://localhost:8719/MessengerService" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IWSUserProfile" contract="ServiceUserRepository.IWSUserProfile"
        name="WSHttpBinding_IWSUserProfile">
        <identity>
          <userPrincipalName value="COFFEEADDICT\Martin" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>